<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
   <link href="../static/css/homepage.css" rel="stylesheet">
    <title>Monitoring App</title>
</head>
<body>

<div id="header">
    <h1>Monitoring App</h1>
</div>

<div id="inputContainer">
    <form method="post">
        <input type="text" name="ip" id="addressInput" class="form-control" placeholder="Enter VM Address">
        <h4>Start Monitoring</h4>
        <button class="btn btn-success" id="startButton" onclick="startMonitoring()">
            <span class="fa fa-play"></span>
        </button>
    </form>
    <br>
    <br><br>
 {% if error %}
    <div class="error">
        <h3>{{ error }}</h3>
    </div>
{% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function startMonitoring() {
        var ip = document.getElementById("addressInput").value
        window.location.href = '/charts';
    }
</script>

</body>
</html>